#nro, #fecha, #subtotal, #total, #guias, #cancela, #feccancela, #vercliente {
	width: 160px;
	border: 1px solid #1b7f9198;
	border-radius: 3px;
	padding: 2px 3px;
	color: #506760;
	font-family: bel2;
	margin-top: 3px;
	margin-right: 15px;
	float: left; 
	background-color: #b2b2b2;
}

#inpbuscar {
	width: 42%;
}

#vercliente {
	width: 50%;
}

#guias {
	width: 49.5%;
	height: 50px;
}

#btnAgregar {
	margin-top: 20px;
	float: left;
}

#guias {
	resize: none;
}

#tablatit tr td:nth-child(n+0) {
	width: 50px;
}

#tablatit tr td:nth-child(2n+0) {
	width: 70px;
} 

#tablatit tr td:nth-child(3n+0) {
	width: 240px;
}

#tablatit tr td:nth-child(4n+0) {
	width: 100px;
}

#tablatit tr td:nth-child(5n+0) {
	width: 90px;
}

#tablatit tr td:nth-child(6n+0) {
	width: 400px;
}

#tablatit tr td:nth-child(7n+0) {
	width: 120px;
}

#tablatit tr td:nth-child(8n+0) {
	width: 120px;
}

#tablatit tr td:nth-child(9n+0) {
	width: 60px;
}



#tabladat tr td:nth-child(n+0) {
	width: 50px;
	text-align: right;
}

#tabladat tr td:nth-child(2n+0) {
	width:  70px;
	text-align: left;
}

#tabladat tr td:nth-child(3n+0) {
	width: 260px;
	text-align: left;
}

#tabladat tr td:nth-child(4n+0) {
	width: 80px;
	text-align: left;
}

#tabladat tr td:nth-child(5n+0) {
	width: 90px;
	text-align: left;
}

#tabladat tr td:nth-child(6n+0) {
	width:  300px;
	text-align: left;
}

#tabladat tr td:nth-child(7n+0) {
	width: 100px;
	text-align: center;
}

#tabladat tr td:nth-child(8n+0) {
	width: 100px;
	text-align: center;
}

#tabladat tr td:nth-child(9n+0) {
	width: 50px;
	text-align: center;
}

/***************************/

.divconsulta > input {
	font-family: 'bel3';
	border: 1px solid #638b8b;
}

.divconsulta #buscarproveedor {
	width: 20%;
}

.divconsulta #fechaini, .divconsulta #fechafin, .divconsulta #fechafincan ,.divconsulta #buscarcarro {
	width: 7%;
	text-align: center;
}

.divconsulta .btnconsultar  {
	margin-right: 0px;
	background-color: #2f4f4f;
	border: 1px solid #2f4f4f;
	border-radius: 2px;
	padding: 5px 7px;
	cursor: pointer;
	color: #ffffff;
	font-size: 11px;
}

.divconsulta .btnconsultar:active {
	background-color: #618080;
}

#exportarexcel {
	font-size: 11px;
	font-family: 'bel6';
	margin-right: 20px;
}

/***************************/
#divguia ul {
	list-style: none;
}

#divguia {
	position: absolute;
	left: 85%;
	top: 60px;
	width: 230px;
	height: 173px;
	background-color: #f6f6f6;
	border-radius: 2px;
	overflow-y: scroll;
	border: 1px solid blue;
}

.cerrarguias {
	background-color: #9ec74e;
	color: #2c3e50;
	font-family: 'bel7';
	border: 1px solid #f6f6f6;
	width: 100%;
	cursor: pointer;
}

.botonviajeg {
	background-color: #5e4c4c;
	border: 1px solid transparent;
	padding: 2px 0;
   border-radius: 3px;
   width: 85px;
   color: #ffffff;
   font-family: bel1;
   font-size: 14px;
   cursor: pointer;
}