#verproveedor, #vercarro, #detalle, #importe, #factura, #fecha, #rucproveedor, #inpbuscar {
	width: 17%;
	border: 1px solid transparent;
	border-radius: 1px;
	padding: 1px 3px;
	color: #506760;
	font-family: bel2;
	margin-top: 4px;
	margin-right: 15px;
	display: inline-block;
	background-color: #b2b2b2;
}

#inpbuscar {
	width: 50%;
	background-color: #ffffff;
}

#verproveedor {
	width: 39.5%;
}

#detalle {
	width: 39%;
}

#tablatit tr td {
	border: 1px solid transparent; 
}

#tablatit tr td:nth-child(n+0) {
	width: 7%;
}

#tablatit tr td:nth-child(2n+0) {
	width: 20%;
}

#tablatit tr td:nth-child(3n+0) {
	width: 26%;
}

#tablatit tr td:nth-child(4n+0) {
	width: 7%;
}

#tablatit tr td:nth-child(5n+0) {
	width: 7%;
}

#tablatit tr td:nth-child(6n+0) {
	width: 11%;
}

#tablatit tr td:nth-child(7n+0) {
	width: 9%;
}
#tablatit tr td:nth-child(8n+0) {
	width: 11%;
}


#tabladat tr td:nth-child(n+0) {
	width: 3%;
	text-align: right;
}

#tabladat tr td:nth-child(2n+0) {
	width: 11%;
	text-align: left;
}

#tabladat tr td:nth-child(3n+0) {
	width: 13%;
	text-align: left;
}

#tabladat tr td:nth-child(4n+0) {
	width: 4%;
	text-align: center;
}

#tabladat tr td:nth-child(5n+0) {
	width: 3%;
	text-align: center;
}

#tabladat tr td:nth-child(6n+0) {
	width: 5%;
	text-align: left;
}

#tabladat tr td:nth-child(7n+0) {
	width: 4%;
	text-align: center;
}



input:disabled {
	background-color: rgb(235, 235, 228);
}

select:disabled {
	background-color: rgb(235, 235, 228);
}

.divNuevo > form > input:enabled, .divNuevo > form > select:enabled {
	background-color: rgb(246, 246, 241);
}

#formbus > label {
	font-size: 13px;
	font-family: bel6;
	font-weight: bold;
	color: rgb(94, 109, 128);
}

/***************************/

.divconsulta > input {
	font-family: 'bel3';
	border: 1px solid #638b8b;
}

.divconsulta #buscarproveedor {
	width: 20%;
}

.divconsulta #fechaini, .divconsulta #fechafin, .divconsulta #buscarcarro {
	width: 7%;
	text-align: center;
}

.divconsulta .btnconsultar  {
	margin-right: 0px;
	background-color: #2f4f4f;
	border: 1px solid #2f4f4f;
	border-radius: 2px;
	padding: 5px 7px;
	cursor: pointer;
	color: #ffffff;
	font-size: 11px;
}

.divconsulta .btnconsultar:active {
	background-color: #618080;
}

#exportarexcel {
	font-size: 11px;
	font-family: 'bel6';
	margin-right: 20px;
}