#departamento, #provincia, #distrito {
	width: 25%;
	border: 1px solid #1b7f9198;
	border-radius: 3px;
	padding: 2px 3px;
	color: #506760;
	font-family: bel2;
	margin-top: 3px;
	margin-right: 15px;
	background-color: #b2b2b2;
}

#nombre, #apepat, #apemat {
	width: 28%;
}

#tablatit tr td:nth-child(n+0) {
	width: 6%;
}

#tablatit tr td:nth-child(2n+0) {
	width: 23%;
}

#tablatit tr td:nth-child(3n+0) {
	width: 23%;
}

#tablatit tr td:nth-child(4n+0) {
	width: 23%;
}

#tablatit tr td:nth-child(5n+0) {
	width: 23%;
}